[Unit]
Description=Raspberry Pi Slideshow
After=multi-user.target

[Service]
User=pi
Group=pi
# groups for hardware access
SupplementaryGroups=video render input
WorkingDirectory=/home/pi/aide-slideshow
ExecStart=/usr/bin/python3 /home/pi/aide-slideshow/app/slideshow.py
Restart=always
KillSignal=SIGTERM
TimeoutStopSec=2s

# use tty1 exclusively for our graohics
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/tty1
# prevent the system from switching off the screeen or showing the cursor
ExecStartPre=/usr/bin/setterm -cursor off -blank 0 -powersave off > /dev/tty1

# graphics drivers / devices used (taken from "-E" python interactive script output)
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_DRM_DEVICE=/dev/dri/card0
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target


